{% extends "food/base.html" %}

{% block body %}
  {% for item in items %}
    <div class="row mb-4">
      <div class="col-md-3 offset-md-2">
      <img class="card-img-top" height="150px" src={{ item.item_image }} >

      </div>
      <div class="col-md-4">
        <h1>{{ item.item_name }}</h1>
        <h2>{{ item.item_description }}</h2>
        <h3>Price: ${{ item.item_price }}</h3>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'food:item_detail' item.id %}">Detail</a>
     
      </div>
    </div>
  {% endfor %}
  {% for item in items %}
  <ul>
  
      <li>
       {{ item.id }} -- {{ item.item_name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
